

.WeatherCity{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.name{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    
}

.hum {
    text-align: left;
}

.tempe {
    padding-bottom: 20px;
}

#temp {
    font-size: 100px;
    vertical-align: top;
}

.supe {
    vertical-align: top;
}


.navbar {
    background-blend-mode: color;
    
}


.container {
    padding-top: 90px;
}

.hover {
    color: blue;
    box-shadow: 0 5px 15px #afe0f5;
}

@media screen and (max-width: 500px) {
    
    .name {
        font-size: 38px;
        block-size: auto;
    }

    #temp {
        font-size: 60px;
    }

    .hum {
        font-size: 10px;
        
    }

    .gum {
        font-size: 10px;
        
    }

    .down {
        font-size: 10px;
        
    }
}

